body{
    margin: auto;
    text-align: center;
    background:rgb(109, 9, 64);
}

div{
    width: 300px;
    height: 300px;
    border: 2px solid palegreen;
    display: inline-block;
    text-align: center;
}
img{
    width: 200px;
    height:200px;

}
#player1{
    color: aqua;
    font-family: 'lobster', cursive;
    display: inline-block;
    
}
#player2{
    color:red;
    font-family: 'lobster', cursive;
    display: inline-block;
}
#refresh{
    font-size: 380%;
    width: 60%;
    color: rgb(251, 255, 0);
    margin:10px auto ;
    border:2px solid rgb(113, 8, 233);
}
button{
    padding: 10px;
    color: rgb(246, 246, 250);
    background-color: blue;
}
#battle{
    font-size: 300%;
    color: springgreen;
}
